*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poopins' , sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background-color: linear-gradient(315deg,#ffffff 0%,#d7e1ec 74%);
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.wrapper .button{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover{
    width: 200px;
}
.wrapper .button .icon{
    justify-content: column;
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;

}
.wrapper .button:nth-child(1):hover .icon{
    background: royalblue;
}
.wrapper .button:nth-child(2):hover .icon{
    background:magenta;
}.wrapper .button:nth-child(3):hover .icon{
    background: green;
}
.wrapper .button:nth-child(4):hover .icon{
    background:yellow;
}
.wrapper .button:nth-child(5):hover .icon{
    background:red;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3 ease-out;
}

.wrapper .button:hover .icon i{
    color:#fff ;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 50px;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: aqua;
}
.wrapper .button:nth-child(2) span {
    color: rgb(255, 106, 0);
}
.wrapper .button:nth-child(3) span {
    color: rgb(49, 88, 88);
}
.wrapper .button:nth-child(4) span {
    color: rgb(0, 255, 13);
}
.wrapper .button:nth-child(5) span {
    color: rgb(204, 0, 255);
}
